# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# prisma
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
